.title{
    color: #3f4064;
    font-weight: bold;
    font-size: 14px;
}
.emailContainer{
 margin: 20px 5px;
}
.emailForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.emailInput{
background-color: #f0f0f1;
width:190px ;
border: none;
outline: none;
border-radius: 7px;
margin: 0px 10px;
padding:3px 15px;
}
.emailButton{
background-color: #e0e0e2;
color: white;
width: 45px;
height: 45px;
border: none;
border-radius: 7px;
font-weight: bold;
}