.outerContainer{
display: flex;
flex-direction: column;
justify-content: start;

}
.articleContainer{
    display: flex;
    flex-direction: column;
}
.articleButton{
    color: blue;
    font-size: 12px;
    font-weight: bold;
}
.articleButton:hover{
    color: rgb(91, 139, 241);
}