.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.legalLogo{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius: 7px;
}
.LegalImage{
margin: 10px 10px;
}