.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.advertiseItem{
flex-basis: 23%;
padding: 20px;
}
.advertiseItemImage{
    width: 100% !important;
    height: auto !important;
    border-radius: 14px;
}
@media (max-width: 480px) {
.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.advertiseItem{
flex-basis: 75%;
border-radius: 14px;
}
.advertiseItemImage{
    width: 100% !important;
    height: auto !important;
}
    
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.advertiseItem{
flex-basis: 45%;
border-radius: 14px;
}
.advertiseItemImage{
    width: 100% !important;
    height: auto !important;
}
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.advertiseItem{
flex-basis: 45%;
padding: 20px;
border-radius: 14px;
}
.advertiseItemImage{
    width: 100% !important;
    height: auto !important;
}

}
  
