.counterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80px;
    height: 30px;
    border:1px solid silver;
    border-radius: 8px;
    color: #ee384e;
    font-weight: bold;
    background-color: white;
}
.counterButton{
 border: none;
 outline: none;

}