.OrderContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.OrderButton{
 background-color: #e6123d;
 color: white;
 border:none;
 width: 230px;
 height: 40px;
 border-radius: 12px;
 font-size: 14px;
 font-weight: bold;
}