.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1200px;
    height: 550px;
    background-color: white;
    box-shadow: 60px 50px 200px 400px rgba(125, 128, 131, 0.46);
    
    }
    .sideBar{
        flex-basis: 20%;
        display: flex;
        overflow-y: scroll;
        flex-wrap: nowrap;
        background-color: #f0f0f1;
    
    }
    .content{
        flex-basis: 80%;
        display: flex;
        overflow-y: scroll;
        flex-wrap: nowrap;
        width: 100%;
        
    }