.navItems{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navItem{
display: flex;
flex-direction: row;
align-items: center;
margin: 0px 5px;
}
.navItemIcon{
    font-size: 18px;
    color:#62666d;
    margin: 0px 5px;
}
.navItemText{
font-size: 12px;
color: #424750;
}
.navItemResponsive{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 480px) {

    
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .navItemResponsive{
   
    display: none;
    
}

}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .navItemResponsive{
    
    display: none;
}
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {

}