.outerContainer{
 
}
.notFoundContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(73, 71, 79) 100%);
}


.loader {
    position: relative;
    display: inline-block;
  }
  .loader::before {
    
    content: 'Page Not Found';
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    display: inline-block;
    box-sizing: border-box;
    animation: floating 1s ease-out infinite alternate;
  }
  .loader::after {
    content: '';  
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 100%;
    filter: blur(4px);
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 1s ease-out infinite alternate;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-25px);
    }
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1.2);
    }
  }
  .buttonContainer{
    margin-top: 100px;
  }

  .button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .buttonEdge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .buttonFront {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .buttonFront {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button:hover .buttonFront {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button:active .buttonFront {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button:hover .buttonShadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button:active .buttonShadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button:focus:not(:focus-visible) {
    outline: none;
  }
  
