.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.sideBar{
    flex-basis: 20%;
}
.Children{
    flex-basis:80%;
}
@media (max-width: 480px) {
    .content{
        display: flex;
        overflow-x: scroll;
        overflow-y: scroll;
        justify-content: center;
    }
    .sideBar{display:none;}
    .Children{
        flex-basis:100%;
        margin: 5px auto;
    }
   }
     
   /* Media Query for low resolution  Tablets, Ipads */
   @media (min-width: 481px) and (max-width: 767px) {
    .content{
        display: flex;
        overflow-x: scroll;
        overflow-y: scroll;
        justify-content: center;
    }
    .sideBar{display:none;}
    .Children{
        flex-basis:100%;
        margin: 5px auto;
    }
   }
     
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
    .content{
        display: flex;
        overflow-x: scroll;
        overflow-y: scroll;
        justify-content: center;
    }
    .sideBar{display:none;}
    .Children{
        flex-basis:100%;
        margin: 5px auto;
    }
   
   }
     
   /* Media Query for Laptops and Desktops */
   @media (min-width: 1025px) and (max-width: 1280px){
   
   }
     
   /* Media Query for Large screens */
   @media (min-width: 1281px) {
   
   }