.outerContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-shadow: -2px 2px 3px rgb(196, 196, 196);
    align-items: center;
    width: 100%;
}
.router{
    color: #19bfd3;
    font-size: 12px;
    letter-spacing: 2px;
}

.incredibleOfferImage{
 padding: 5px 30px;
}