.container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.389);
    backdrop-filter: blur(7px);
   width: 100%;
   height: 40px;
   top: 0;
   right: 0;
   border-bottom: 1px solid rgb(117 117 117);
}
.title{
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.text{
font-size: 18px;
font-weight: 600;
border-left: 2px solid rgb(117 117 117);
padding-left:20px;
}
.navBar{
flex-basis: 80%;
display: flex;
justify-content: right;
}
.navBarItems{
    display: flex;
    flex-direction: row;
}
.navBarItem{
    list-style: none;
    margin: 5px 10px;
}
.navBarLink{
    font-size: 12px;
}
.navBarLinks{
    transition: all .5s;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
}
.burgerIcon{display: none;}
@media (max-width: 480px) {
  .burgerIcon{display: flex;padding: 5px 10px;font-size: 20px;flex-basis: 20%;} 
  .navBar{display: none;} 
  .title{
    
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}
.text{display: none;}
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
 .burgerIcon{display: flex;padding: 5px 10px;font-size: 20px;flex-basis: 20%;}
 .navBar{display: none;} 
 .title{
    
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}
.text{display: none;}
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
 
.burgerIcon{display: flex;padding: 5px 10px;font-size: 20px;flex-basis: 20%;}
.navBar{display: none;} 
.title{
   width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}
.text{display: none;} 
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {

}