.container{
display: flex;
flex-direction: column;
justify-content: center;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerImage{
    display: flex;
    justify-content: center;
align-items: center;
background-color: rgb(237 27 53);
height: 300px;
}
.headerArticle{
   
margin: 30px 30px;
}
.headerTitle{
    display: flex;
    justify-content: center;
font-size: 26px;
font-weight: 600;
margin-bottom: 30px;
}
.article{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
align-items: center;
}
.content{
width: 70%;
margin: 30px auto;
}
